@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculadora</h1>
    

    <form method="post">
        <!--adicionar o efeito de 'memoria' no http-->
        <input type="hidden" readonly="readonly" value="@ViewBag.PrimeiroOperando" name="primeiroOperando" />
        <input type="hidden" readonly="readonly" value="@ViewBag.Operador" name="operador" />
        <input type="hidden" readonly="readonly" value="@ViewBag.LimpaVisor" name="limpaVisor" />
        <table border="1">
            <tr>
                <td colspan="5">
                    <input type="text" name="visor" readonly="readonly" value="@ViewBag.visor" />
                </td>
            </tr>
            <tr>
                <td><input type="submit" name="bt" value="7" class="btn btn-default" /></td>
                <td><input type="submit" name="bt" value="8" class="btn btn-default" /></td>
                <td><input type="submit" name="bt" value="9" class="btn btn-default" /></td>
                <td><input type="submit" name="bt" value=":" class="btn btn-toolbar" /></td>
                <td><input type="submit" name="bt" value="+/-" /></td>

            </tr>
            <tr>
                <td><input type="submit" name="bt" value="4" class="btn btn-default" /></td>
                <td><input type="submit" name="bt" value="5" class="btn btn-default" /></td>
                <td><input type="submit" name="bt" value="6" class="btn btn-default" /></td>
                <td><input type="submit" name="bt" value="x" class="btn btn-toolbar" /></td>
                <td><input type="submit" name="bt" value="C" class="btn btn-danger" /></td>
            </tr>
            <tr>
                <td><input type="submit" name="bt" value="1" class="btn btn-default" /></td>
                <td><input type="submit" name="bt" value="2" class="btn btn-default" /></td>
                <td><input type="submit" name="bt" value="3" class="btn btn-default" /></td>
                <td><input type="submit" name="bt" value="-" class="btn btn-toolbar" /></td>
                <td rowspan="2"><input type="submit" name="bt" value="=" class="btn-group-horizontal" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" name="bt" value="0" class="btn btn-default" /></td>
                <td><input type="submit" name="bt" value="," /></td>
                <td><input type="submit" name="bt" value="+" class="btn btn-toolbar" /></td>
            </tr>
        </table>
    </form>

</div>
